<div style='clear: both'>

</div>
<div class="footer">
  <div class="text">
    <p>
      <span class="highlight">Пресс-секретарь проекта:</span> Гончарова Татьяна Александровна (тел. 8-923-409-1730)
  </p>
  <p>
    <span class="highlight">
      E-mail: <%= mail_to 'project8546@mail.ru' %>
  </span>
</p>
  </div>
</div>
